<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:page_title) %><%= appname %> | <%= yield(:page_title) %><% else %><%= appname %><% end %>
    </title>
    <% if content_for?(:page_description) %><meta name="description" content="<%= yield(:page_description) %>"/><% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <b><%= link_to appname, root_path %></b> |
    <a href="<%= about_path %>">about</a> |
    <% if user_signed_in? %><%= link_to 'welcome', welcome_path %> |<% end %>
    <% if user_signed_in? %><%= link_to 'edit your account', edit_user_registration_path %> | <%= link_to 'sign out', destroy_user_session_path, method: 'delete' %><% else %><%= link_to 'sign up', new_user_registration_path %> | <%= link_to 'sign in', new_user_session_path %><% end %>
  </nav>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
